<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YCPictureValidate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6B25BCD1DB0BA3800B38F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B25BE61DB0BA3800B38F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B25BF11DB0BA3800B38F82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
